[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiosmtpd = "*"
bottle = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"
sphinx = "*"
black = "*"

[requires]
python_version = "3.6"
